@model IEnumerable<MVC_Client.PcPart.GPU>

@{
    ViewBag.Title = "Index";
}

<h2>GPU</h2>

<div>
    <br />
    <h4>Filtrer</h4>
    @using (Html.BeginForm())
    {
        <p>
            <b>Fabrikant:</b> @Html.TextBox("Manufacturer") <br />
            <br>
            <input type="submit" value="Find" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            <label>Fabrikant</label>
        </th>
        <th>
            <label>Samarbejdspartner</label>
        </th>
        <th>
            <label>Ram</label>
        </th>
        <th>
            <label>Model</label>
        </th>
        <th>
            <label>Beskrivelse</label>
        </th>
        <th>
            <label>Kategori</label>
        </th>
        <th>
            <label>Pris</label>
        </th>
        <th>
            <label>På lager</label>
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boardpartner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VRamAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
    </tr>
}

</table>
