
@{
    ViewBag.Title = "Index";
}

<h2>Hardware</h2>

<body>
   @Html.ActionLink("CPU", "Index", "CPU")
    <br>
    @Html.ActionLink("Storage","Index","Storage")
    <br />
   @Html.ActionLink("RAM","Index","RAM")
    <br />
    @Html.ActionLink("Motherboard","Index","Motherboard")
    <br />
    @Html.ActionLink("GPU","Index","GPU")
    <br />
    @Html.ActionLink("Computer Case","Index","Computer_Case")


</body>

