
@{
    ViewBag.Title = "Index";
}

<h2>Din Kurv</h2>

@{
    Basket b = (Basket)Session["basket"];

    
        <table class="table table-striped" >
            <caption></caption>
            <tr>
                <th>Vare</th>
                <th> </th>
                <th>Pris</th>
            </tr>
            <tr>
                <td>@(b == null || b.MyCpu == null ? "Ingen CPU" : b.MyCpu.Brand.ToString() )</td>
                <td>@(b == null || b.MyCpu == null ? "" : b.MyCpu.ModelNumber.ToString() )</td>
                <td>@(b == null || b.MyCpu == null ? "0,- Kr" : b.MyCpu.Price.ToString() )</td>
            </tr>
            <tr>
                <td>@(b == null || b.MyRam == null ? "Ingen ram" : b.MyRam.Manufacturer.ToString() )</td>
                <td>@(b == null || b.MyRam == null ? "" : b.MyRam.Model.ToString() )</td>
                <td>@(b == null || b.MyRam == null ? "0,- Kr" : b.MyRam.Price.ToString() )</td>
            </tr>
            <tr>
                <td>@(b == null || b.MyGpu == null ? "Ingen GPU" : b.MyGpu.Manufacturer.ToString())</td>
                <td>@(b == null || b.MyGpu == null ? "" : b.MyGpu.Model.ToString())</td>
                <td>@(b == null || b.MyGpu == null ? "0,- Kr" : b.MyGpu.Price.ToString())</td>
            </tr>
            <tr>
                <td>@(b == null || b.MyMotherboard == null ? "Intet Motherboard" : b.MyMotherboard.Manufacturer.ToString())</td>
                <td>@(b == null || b.MyMotherboard == null ? "" : b.MyMotherboard.Description.ToString())</td>
                <td>@(b == null || b.MyMotherboard == null ? "0,- Kr" : b.MyMotherboard.Price.ToString())</td>
            </tr>
            <tr>
                <td>@(b == null || b.MyComputerCase == null ? "Intet Kabinet" : b.MyComputerCase.Manufacturer.ToString())</td>
                <td>@(b == null || b.MyComputerCase == null ? "" : b.MyComputerCase.Description.ToString())</td>
                <td>@(b == null || b.MyComputerCase == null ? "0,- Kr" : b.MyComputerCase.Price.ToString())</td>
            </tr>
            <tr>
                <td>@(b == null || b.MyStorage == null ? "Intet Fastpladelager" : b.MyStorage.Manufacturer.ToString())</td>
                <td>@(b == null || b.MyStorage == null ? "" : b.MyStorage.Capacity.ToString())</td>
                <td>@(b == null || b.MyStorage == null ? "0,- Kr" : b.MyStorage.Price.ToString())</td>
            </tr>
            <tr>
                <td> <label>Total Pris: </label>  @ViewBag.Sum kr.</td>
            </tr>
        </table>

        <br />

<div>
    <label>Du køber som: </label> @(b == null || b.MyCustomer == null ? "Ingen kunde koblet til kurven" : b.MyCustomer.Name)
</div>


}

<br />
<br />


<div>
    @Html.ActionLink("Køb", "CheckOut", null, new { @class = "btn btn-default", id="KøbsKnap" })
</div>

@section scripts{      
    <script>
        $('#KøbsKnap').click(function (evt) {
            evt.preventDefault();
            var r = confirm('Er du sikker på at du vil købe dette?');
            if (r) {
                window.location.href = '@Url.Action("CheckOut", "Basket")';
            }
            else {
                alert('Annuler');
            }
        });
    </script>
    
    
    }